{% extends "core/base/one_column_base.html" %}
{% load static %}
{% block extra-styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/edit_base.css' %}">
{% endblock %}
{% block title %}ログイン{% endblock %}
{% block column1-1 %}
{% include 'core/breadcrumb_list.html' with title='ログイン' is_published=True %}
<h1>ログイン</h1>
{% if form.errors %}
    <p class="error-notification">以下のエラー箇所を修正してください。</p>
    {{ form.errors }}
{% endif %}
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="post-button">ログインする</button>
</form>
{% endblock %}