{% extends 'core/base/one_column_base.html' %}
{% load static %}
{% block extra-styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/edit_base.css' %}">
{% endblock %}
{% block title %}パスワード変更{% endblock %}
{% block column1-1 %}
<h1>パスワード変更</h1>
{% if form.errors %}
    <p class="error-notification">以下のエラー箇所を修正してください。</p>
    {{ form.errors }}
{% endif %}
<form method="POST" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" class="post-button">変更を適用する</button>
</form>
{% endblock %}