{% extends "core/base.html" %}
{% block title %}{{article.title}}{% endblock %}
{% block contents %}
    <h1 id="content0">{{article.title}}</h1>
    <div class="article-info">
        <p class="article-view-count">{{article.view_count}} views</p>
        <p class="article-pub-date">投稿日:{{article.pub_date.year}}/{{article.pub_date.month}}/{{article.pub_date.day}}, 更新日:{{article.renew_date.year}}/{{article.renew_date.month}}/{{article.renew_date.day}}</p>
    </div>
    <img src="{{article.thumbnail.url}}" alt="{{article.title}}">
    {% for content in article.content_set.all|dictsort:"list_number" %}
        {% if content.headline %}
            <h{{content.headline.size}} id="content{{content.list_number}}">
                {{content.headline.text}}
            </h{{content.headline.size}}>
        {% elif content.paragraph %}
            <p id="content{{content.list_number}}">
                {{content.paragraph.paragraph}}
            </p>
        {% elif content.image %}
            <img src="{{content.image.image.url}}" id="content{{content.list_number}}">
        {% endif %}
    {% endfor %}
{% endblock %}