{% extends "core/base/two_column_base.html" %}
{% load static %}
{% load editorjs %}
{% block title %}{{article.title}}{% endblock %}
{% block extra-styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/article_detail.css' %}">
<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
{% endblock %}
{% block column2-1 %}
    <div class="breadcrumb-list">
        {% for category in category_list %}
        <a class="crumb-list-item" href="{% url 'core:category' category.inner_name %}">{{ category.name }}</a> >  
        {% endfor %}
        <a class="crumb-list-item" href="#">{{ article.title }}</a>
    </div>
    <h1 class="title">{{article.title}}</h1>
    <div class="article-info">
        <div class="article-view-count">{{article.view_count}} views</div>
        <div class="article-pub-date">投稿日:{{article.pub_date.year}}/{{article.pub_date.month}}/{{article.pub_date.day}}, 更新日:{{article.renew_date.year}}/{{article.renew_date.month}}/{{article.renew_date.day}}</div>
    </div>
    <img class="thumbnail-image" src="{{article.thumbnail.url}}" alt="{{article.title}}">
    作者：{{ article.author.display_name }}<br>
    <!-- article.content でJSONを展開 -->
    <div id="article-content" class="article-content">
        <!-- article.content | editorjs -->
    </div> <!-- このidはjsで使う -->
    {% if user.id == article.author.id %}
    <hr>
    <p style="text-align: center;">※以下の内容は作者としてログイン中のため表示されています。</p>
    <h2>このページのJSONデータ</h2>
    {{ article.content }}<br>
    <div class="article-edit-button__outer">
        <a href="{% url 'core:edit' article.pk %}" class="article-edit-link">
            <div class="article-edit-button">
                この記事を編集する
            </div>
        </a>
    </div>
    {% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const articleContent = document.getElementById('article-content');
        let content = JSON.parse('{{ article.content|escapejs }}');
        let blocks = content.blocks;
        for (let index = 0; index < blocks.length; index++ ){
            switch(blocks[index].type){  // JSONファイルを展開し、そのブロックの各タイプごとに分解
                case 'Header':
                    let head = document.createElement(`h${blocks[index].data.level}`);
                    head.textContent = blocks[index].data.text;
                    articleContent.appendChild(head);
                    break;
                case 'Image':
                    let image_div = document.createElement('div');
                    let image = document.createElement('img');
                    let caption = document.createElement('p');
                    image.classList.add('content-image');
                    caption.classList.add('content-image-caption');
                    image.src = `{{ base_url }}${blocks[index].data.file.url}`;  // base_urlは.envで定義済み
                    caption.textContent = blocks[index].data.caption;
                    image_div.appendChild(image);
                    image_div.appendChild(caption);
                    articleContent.appendChild(image_div);
                    break;
                case 'paragraph':
                    let p = document.createElement('p');
                    p.innerHTML = blocks[index].data.text.replace(/\\begin\{tikzpicture\}.*\\end\{tikzpicture\}/g, '<script type=\"text/tikz\">$&<\/script>');
                    articleContent.appendChild(p);
                    break;
                case 'List':
                    if (blocks[index].data.style == 'unordered') {
                        list = document.createElement('ul');
                    } else {
                        list = document.createElement('ol');
                    }
                    for (const item in blocks[index].data.items) {
                        let li = document.createElement('li');
                        li.textContent = blocks[index].data.items[item];
                        list.appendChild(li);
                    }
                    articleContent.appendChild(list);
                    break;
                case 'Raw':
                    let blockquote = document.createElement('blockquote');
                    let code = document.createElement('code');
                    let pre = document.createElement('pre');
                    pre.textContent = blocks[index].data.html;
                    pre.style.background = '#131313';
                    pre.style.color = '#dddddd';
                    pre.style.padding = '15px';
                    code.appendChild(pre);
                    blockquote.appendChild(code);
                    articleContent.appendChild(blockquote);
                    break;
                case 'Attaches':
                    let a_div = document.createElement('div');
                    let a = document.createElement('a');
                    a_div.classList.add('file-link-container');
                    a.href = `{{ base_url }}${blocks[index].data.file.url}`  // base_urlは.envで定義済み
                    a.textContent = `${blocks[index].data.file.name} (${blocks[index].data.file.size} Byte)`
                    a.classList.add('file-link');
                    a_div.appendChild(a);
                    articleContent.appendChild(a_div);
                case 'Table':
                    let table = document.createElement('table');
                    let data = blocks[index].data.content;
                    table.classList.add('article-table');
                    console.log(data);
                    let trs = [];
                    let tds = [];
                    for (let row = 0; row < data.length; row++){
                        tds = [];
                        trs.push(document.createElement('tr'));
                        for (let column = 0; column < data.length; column++){
                            tds.push(document.createElement('td'));
                            tds[column].textContent = data[row][column];
                            trs[row].appendChild(tds[column]);
                        table.appendChild(trs[row]);
                        }
                    articleContent.appendChild(table);
                    }
            }
        }
        console.log('記事本文が読み込まれました');
        var mj = document.createElement('script');
        mj.type = 'text/javascript';
        mj.async = true;
        mj.id = 'MathJax-script';
        mj.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
        document.head.appendChild(mj);  // mathjax遅延読み込み

        var tz = document.createElement('script');
        tz.type = 'text/javascript';
        tz.src = 'https://tikzjax.com/v1/tikzjax.js';
        document.head.appendChild(tz);  // TikZJax遅延読み込み
    });
</script>
{{ block.super }}
{% endblock %}