{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra-style %}{% endblock %}
    <title>
        {% block title %}{% endblock %} | 感覚の数学
    </title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-list">
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'index' %}">
                        <div class="navbar-nav-title">感覚の数学</div>
                    </a>
                </li>
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'index' %}">
                        <div class="navbar-nav-title">直観的数学</div>
                    </a>
                </li>
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'index' %}">
                        <div class="navbar-nav-title">数学問題</div>
                    </a>
                </li>
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'index' %}">
                        <div class="navbar-nav-title">裏技</div>
                    </a>
                </li>
                <li class="navbar-list-item navbar-list-item__right">
                    <a class="navbar-nav" href="">
                        <div class="navbar-nav-title">
                            サイト内検索
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        {% block extra-header %}{% endblock %}
    </header>
    <div class="wrapper">
        <div class="container">
            <div class="column1">
                {% block contents %}
                {% endblock %}
            </div>
            <div class="column2">
                <h2>人気記事</h2>
                {% for article in popular_articles %}
                    {% include "core/article_link.html" with article=article %}
                {% endfor %}
                <h2>新着記事</h2>
                {% for article in new_articles %}
                    {% include "core/article_link.html" with article=article %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>