{% extends 'core/base/two_column_base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'core/css/category_detail.css' %}">
{% endblock %}
{% block column2-1 %}
    <div class="breadcrumb-list">
        <a class="crumb-list-item" href="{% url 'core:index' %}">
            <i class="fa-solid fa-house"></i>
            HOME
        </a>
        {% for category in category_list %}
        &gt;
        <a class="crumb-list-item" href="{% url 'core:category-detail' category.inner_name %}">
            <i class="fa-regular fa-folder"></i>
            {{ category.name }}
        </a>
        {% endfor %}
        <!-- htmlの改行でスペースがひとつ入ってしまうのでそれを見越して省略する -->
    </div>
    <h1>カテゴリ：{{ category.name }}</h1>
    <p class="category-description">
        {{ category.description }}
    </p>
    <h2>{{ category.name }}カテゴリの記事一覧</h2>
    {% for article in articles %}
        {% include 'core/article_link.html' with article=article %}
    {% endfor %}
    <h2>{{ category.name }}カテゴリの下位カテゴリ一覧</h2>
    <div class="lower-categories">
        {% for lower_category in lower_categories %}
            <a href="{% url 'core:category-detail' lower_category.inner_name %}" class="lower-category-link">
                <div class="lower-category-container">
                    <h3>{{ lower_category.name }}</h3>
                    <p class="category-description">
                        {{ lower_category.description }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
    {% if user.is_staff %}
    <div class="category-edit-button__outer">
        <a href="{% url 'core:category-edit' category.inner_name %}" class="category-edit-link">
            <div class="category-edit-button">
                このカテゴリを編集する
            </div>
        </a>
    </div>
    {% endif %}
{% endblock %}