{% extends 'core/base/two_column_base.html' %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}
{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'core/css/category.css' %}">
{% endblock %}
{% block column2-1 %}
    <h1>カテゴリ：{{ category.name }}</h1>
    <p class="category-description">
        {{ category.description }}
    </p>
    <h2>{{ category.name }}カテゴリの記事一覧</h2>
    {% for article in articles %}
        {% include 'core/article_link.html' with article=article %}
    {% endfor %}
    <h2>{{ category.name }}カテゴリの下位カテゴリ一覧</h2>
    <div class="lower-categories">
        {% for lower_category in lower_categories %}
            <a href="{% url 'core:category' lower_category.inner_name %}" class="lower-category-link">
                <div class="lower-category-container">
                    <h3>{{ lower_category.name }}</h3>
                    <p class="category-description">
                        {{ lower_category.description }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}