{% extends "core/base.html" %}
{% load static %}  <!-- このタグは継承先で再度述べる必要がある -->
{% block title %}トップページ{% endblock %}
{% block extra-style %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block extra-header %}
<div class="site-thumbnail-container">
    <img class="site-thumbnail" src="{% static 'core/image/site-thumbnail.png' %}" alt="">
</div>
{% endblock %}
{% block contents %}
    <p>
        数あるサイトの中から当サイトをご覧いただきありがとうございます。このサイトは数学の直観力を中心とし、おもしろい数学問題、定理などを紹介しています。
    </p>
    <p>このサイトは数学のおもしろい情報を発信したいという目的のほか、Web開発の練習目的でもあります。</p>
{% endblock %}