{% extends "core/base/two_column_base.html" %}
{% load static %}  <!-- このタグは継承先で再度述べる必要がある -->
{% block title %}トップページ{% endblock %}
{% block extra-styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block extra-header %}
<img class="site-thumbnail" src="{% static 'core/image/site-thumbnail.png' %}" alt="">
{% endblock %}
{% block column2-1 %}
    {% include 'core/breadcrumb_list.html' %}
    <p>
        数あるサイトの中から当サイト「<b>感覚の数学</b>」をご覧いただきありがとうございます。このサイトは<mark>数学全般の直感的理解を軸とし、おもしろい数学問題、定理、裏技など</mark>を紹介しています。
    </p>
    <p>
        このサイトは数学のおもしろい情報を発信したいという目的のほか、Web開発の練習目的でもあります。
    </p>
    <p>
        また、数学的な厳密さを多少欠いてでも、<mark>直感的で分かりやすい</mark>ことを重視しています。
    </p>
{% endblock %}