.content-image-caption {
    text-align: center;
    color: gray;
    font-size: 14px;
}

.article-info {
    display: flex;
    margin: 1em 0;
}

.article-pub-date {
    margin-left: auto;
}

.article-edit-button__outer {
    text-align: center;  /* ボタンそのものをインライン要素にして、それを中央寄せ */
}

.article-edit-button {
    display: inline-block;
    margin: auto;
    border-radius: 6px;
    background-color: #009efd;
    padding: 1em;
}

.article-edit-link {
    text-decoration: none;
    color: white;
    display: inline;
}