@charset "UTF-8";

.content-image-caption,
.quote-caption {
    margin: 1em 0;
    text-align: center;
    font-size: 90%;
}

.article-info {
    margin: 1em 0;
    font-size: 90%;
}

.article-info .row1 {
    display: flex;
}

.article-author {
    margin-left: auto;
    text-align: right;
}

.article-dates {
    margin-left: auto;
    text-align: right;
}

.article-pub-date {
    padding-right: 1em;
}

.toc-container {
    margin: auto;
    width: 100%;
    max-width: 500px;
    border-top: 2px solid #009efd;
    border-bottom: 2px solid #009efd;
}

.toc-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.toc-a {
    text-decoration: none;
    /* color: black; */
}

.toc-ul {
    list-style-type: disc;
}

.article-edit-button-container {
    text-align: center;
    /* ボタンそのものをインライン要素にして、それを中央寄せ */
}

.article-edit-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 6px;
    background-color: #009efd;
    padding: 1em;
    margin: 1em;
}

/* インライン数式は少し余白を設ける */
span.katex {
    padding: 0 0.2em;
}

.katex-display>.katex {
    overflow-x: auto;
    /* 長い数式をスクロールできるようにするため */
    overflow-y: hidden;
}

.katex-display>.katex>.katex-html>.tag {
    position: relative;
    /* 数式のオーバーフロー時にタグが画面に対して絶対的な場所に浮いてしまう問題の修正 */
    right: 0;
    padding-left: 3em;
}

#article-content table {
    margin: auto;
    border-collapse: collapse;
}

#article-content table td {
    padding: 0.5em 1em;
    border-bottom: 1px #888 solid;
    border-top: 1px #888 solid;
}

code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre:has(code.code) {
    padding: 15px;
    background-color: #131313;
    color: white;
    border-radius: 6px;
    overflow-x: auto;
}

code.inline-code {
    margin: 0 .5em;
    padding: .25em .5em;
    color: #333;
    font-size: .9em;
    line-height: 1;
    letter-spacing: 0;
    background: #f7f7f7;
    border: solid 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
}

pre.article-json-data {
    overflow-x: auto;
}

ul.checklist {
    border: solid 2px #009efd;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
}

ul.checklist li {
    list-style-type: none;
    line-height: 1.5;
    padding: 0.5rem 0;
}

ul.checklist li:before {
    font-family: "Font Awesome 6 Free";
    position: absolute;
    left: 1em;
    /*左端からアイコンまで*/
    color: #009efd;
    /*アイコン色*/
}

ul.checklist li[checked="true"]:before {
    content: "\f14a";
    font-weight: 900;
}

ul.checklist li[checked="false"]:before {
    content: "\f0c8";
    font-weight: 400;
}

hr.delimiter {
    border: none;
    height: 8px;
    background-image: repeating-linear-gradient(45deg, #aaa 0, #aaa 2px, transparent 0, transparent 50%);
    background-size: 8px 8px;
    margin: 4em 0;
}

blockquote.quote {
    border-left: 2px solid black;
    padding-left: 1rem;
}

.warning-container {
    border: 2px solid #cc0;
    margin: 1rem 0;
    padding: 0 1rem;
    background-color: #ffc;
}

.warning-title {
    font-size: 1.2rem;
}

.warning-message {
    margin: 1rem 0;
}

.external-link-block {
    display: block;
    padding: 1em;
    margin: 1em 0;
    border: #aaa 1px solid;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 4px gray;
}

.external-link-title {
    font-weight: bold;
}

.external-link-url {
    color: #555;
}
