@charset "UTF-8";

div[data-editorjs-holder] {
    display: block;
    border-radius: 6px;
    margin: 1rem auto;
}

body .codex-editor h2.ce-header {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.hidden { /*JSONデータのテキストエリアを表示させないため */
    display: none;
}