* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.navbar-list {
    margin: 0;
    padding: 0;
}

li.navbar-list-item {
    display: inline-block;
    list-style: none;
}

.navbar-nav {
    text-decoration: none;
    margin: 0;
    color: white;
}

.navbar-nav-title {
    padding: 1.5em;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
    flex: 1;
}

.container {
    display: flex;
    margin: 0;
    word-wrap: break-word;
}

.column1-1 {
    background-color: #fff;
    width: 98%;
    margin:1em 1%;
    padding: 1em;
    border-radius: 6px;
}

.column2-1 {
    background-color: #fff;
    width: 66%;
    margin:1em 1%;
    padding: 1em;
    border-radius: 6px;
}

.column2-2 {
    background-color: #fff;
    width: 30%;
    padding: 1em;
    margin:1em 1%;
    border-radius: 6px;
}


@media (max-width: 1000px){
    .container {
        flex-direction: column;
    }

    .column2-1 {
        width: 98%;
    }

    .column2-2 {
        width: 98%;
        margin-top: 0;
    }
}



a.article-link {
    text-decoration: none;
    color: black;
}

.article-link-container {
    display: flex;
}

.article-link-thumbnail-container {
    width: calc(50% - 0.5em);
}

.article-link-description {
    width: calc(50% + 0.5em);
    padding: 0 0.5em;
}

.article-link-title {
    margin: 0.5em 0;
}

.article-link-lead {
    margin-bottom: 0;
    font-size: 80%;
}

.article-link-thumbnail, .content-image, .thumbnail-image {
    width: 100%;
    border-radius: 6px;
}

h1 {
    padding: 1em;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    border-radius: 6px;
    color: #fff;
}

h2 {
    position: relative;
    padding: 1rem .5rem;
}

h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

footer {
    width: 100%;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.footer-list {
    margin: 0;
    padding: 0;
}

.footer-list-item {
    display: inline-block;
    list-style: none;
}

.footer-list-item a {
    color: white;
    text-decoration: none;
}

.footer-list-item a p {
    margin: 0;
    padding: 1.5em;
}

.breadcrumb-list, .crumb-list-item {
    color: black;
}

.crumb-list-item {
    text-decoration: none;
}