* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

nav {
    width: 100%;
    height: 70px;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.navbar-list {
    display:flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

li.navbar-list-item {
    list-style: none;
    color: white;
}

.navbar-list-item__right {
    margin-left: auto;
}

a.navbar-nav {
    display:block;
    text-decoration: none;
    margin: 0;
    color: white;
    height: 100%;
    width: 10vw;
    position: relative;
}

.navbar-nav-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.wrapper {
    max-width: 1250px;
    margin: auto;
}

.column2-1 {
    background-color: #fff;
    width: 66%;
    margin:0 1%;
    padding: 1em;
    border-radius: 6px;
}

.column2-2 {
    background-color: #fff;
    width: 30%;
    padding: 1em;
    margin:0 1%;
    border-radius: 6px;
}

.container {
    display: flex;
    margin: 1em 0;
    min-height: 80vh;
}

.article-view-count {
    float: left;  /* 浮き上がって左による */
}

.article-pub-date {
    text-align: right;
    float: right;
}

a.article-link {
    text-decoration: none;
    color: black;
}

.article-link-container {
    display: flex;
}

.article-link-thumbnail-container {
    width: 49%;
}

.article-link-description {
    width: 49%;
    margin-left: 2%;

}

.article-link-thumbnail, .content-image, .thumbnail-image {
    width: 100%;
    border-radius: 6px;
}

h1 {
    padding: 1em 2em;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    border-radius: 6px;
    color: #fff;
}

h2 {
    position: relative;
    padding: 1rem .5rem;
}

h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.footer-container {
    width: 100%;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    height: 70px;
    display: flex;
}

.footer-item-outer {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer-item-inner {
    position: absolute;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.return-to-top {
    text-decoration: none;
    color: white;
}