* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}


.navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-list li {
    height: 72px;
    visibility: visible;
    transition: all 0.4s ease;
}

li.navbar-list-item {
    display: block;
    list-style: none;
}

.navbar-nav {
    text-decoration: none;
    margin: 0;
    color: white;
}

.navbar-nav-title {
    padding: 1.5rem;
    margin: 0;
    text-align: center;
}

.navigation-home-container {
    position: relative;
    width: 100%;
    height: 100px;
}

.navigation-home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}

.navigation-title-home {
    font-size: x-large;
}


.open-button-container {
    position: absolute;
    height: 60%;
    aspect-ratio: 1;
    border: 2px solid white;
    border-radius: 6px;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}
.open-button {
    position: relative;
    width: 100%;
    height: 100%;
}

.open-button .menu-line {
    transition: all .4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    width: 45%;
}

.open-button .menu-line:nth-of-type(1) {
    top: calc(25%);
}

.open-button .menu-line:nth-of-type(2) {
    top: calc(25% + 7px);
}

.open-button .menu-line:nth-of-type(3) {
    top: calc(25% + 14px);
}

.open-button .help-text::after {
    content: "MENU";
    position: absolute;
    top: calc(25% + 21px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6rem;
    color: white;
}

.open-button.active .menu-line:nth-of-type(1) {
    transform: translate(-50%, 7px) rotate(-45deg);
}

.open-button.active .menu-line:nth-of-type(2) {
    opacity: 0;
}

.open-button.active .menu-line:nth-of-type(3) {
    transform: translate(-50%, -7px) rotate(45deg);
}

.open-button.active .help-text::after {
    content: "CLOSE";
}

.wrapper {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
    flex: 1;
}

.container {
    display: flex;
    margin: 0;
    word-wrap: break-word;
}

.column1-1 {
    background-color: #fff;
    width: calc(100% - 1em);
    margin:1em 0.5em;
    padding: 1em;
    border-radius: 6px;
}

.column2-1 {
    background-color: #fff;
    width: calc(70% - 2em);
    margin:1em 0.5em;
    padding: 1em;
    border-radius: 6px;
}

.column2-2 {
    background-color: #fff;
    width: 30%;
    padding: 1em;
    margin:1em 0.5em;
    border-radius: 6px;
}

@media (min-width: 701px){
    .open-button-container {
        display: none;
    }
}

@media (max-width: 700px){
    .navbar-list-hidden li {
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .navbar-list {
        flex-direction: column;
    }
}


@media (max-width: 1000px){
    body {
        background-color: #fff;
    }

    .wrapper {
        max-width: 800px;
    }

    .container {
        flex-direction: column;
    }

    .column2-1 , .column2-2 {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

ul.messages {
    padding: 0;
    margin: 0 0.5em;
}

ul.messages li {
    list-style: none;
    padding: 1em;
    border-radius: 6px;
    margin: 1em 0 0 0;
}

ul.messages .error {
    background-color: #ffbaba;
}

ul.messages .warning {
    background-color: #ffffba;
}

ul.messages .success {
    background-color: #baffc1;
}

ul.messages .info {
    background-color: white;
    border: 2px solid #aaa;
}

.error-notification::before {
    font-family: "Font Awesome 6 Free";
    content: "\f071";
    padding-right: 0.5em;
    font-weight: 900;
}

.errorlist .errorlist {
    list-style: none;
}

a.article-link {
    text-decoration: none;
    color: black;
}

.article-link-container {
    display: flex;
}

.article-link-thumbnail-container {
    width: calc(50% - 0.5em);
}

.article-link-description {
    width: calc(50% + 0.5em);
    padding: 0 0.5em;
}

.article-link-title {
    margin: 0.5em 0;
}

.article-link-lead {
    margin: 0;
    font-size: 80%;
}

.article-link-thumbnail, .content-image, .thumbnail-image {
    width: 100%;
    border-radius: 6px;
}

h1 {
    padding: 1em;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
    border-radius: 6px;
    color: #fff;
    margin-top: 0;
}

h2 {
    position: relative;
    padding: 1rem .5rem;
}

h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    content: '';
    border-radius: 3px;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

footer {
    width: 100%;
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
}

.footer-list {
    margin: 0;
    padding: 0;
}

.footer-list-item {
    display: inline-block;
    list-style: none;
}

.footer-list-item a {
    color: white;
    text-decoration: none;
}

.footer-list-item a p {
    margin: 0;
    padding: 1.5em;
}

.breadcrumb-list {
    margin-bottom: 0.5em;
}

.breadcrumb-list, .crumb-list-item {
    color: black;
}

.crumb-list-item {
    text-decoration: none;
}

.not-published-notification {
    color: red;
    font-size: 90%;
}