* {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1250px;
    margin: auto;
}

h1 {
    color: red;
}

.column1 {
    background-color: aqua;
    width: 70%;
    padding: 1em;
}

.column2 {
    background-color: bisque;
    width: 30%;
    padding: 1em;
}

.container {
    display: flex;
}

.article-link-container {
    display: flex;
}

.article-link-thumbnail {
    width: 50%;
}

.article-link-description {
    width: 50%;
}

img {
    width: 100%;
}