.user-info {
    display: flex;
    margin: 1em 0;
}

.user-icon {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
}

.user-info-left {
    margin: auto;
    padding: 1em 0;
    width: 40%;
}

.user-info-right {
    margin-right: auto;
    padding: 1em 0;
    max-width: 50%;
}

.user-edit-button__outer {
    text-align: center;  /* ボタンそのものをインライン要素にして、それを中央寄せ */
}

.user-edit-button {
    display: inline-block;
    margin: auto;
    border-radius: 6px;
    background-color: #009efd;
    padding: 1em;
}

.user-edit-link {
    text-decoration: none;
    color: white;
    display: inline;
}

.info-data {
    text-align: right;
}

@media (max-width: 760px) {
    .user-info {
        flex-direction: column;
    }

    .user-info-left {
        width: 80%;
    }

    .user-info-right {
        width: 80%;
        max-width: 100%;
        margin: auto;
    }
}