{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra-styles %}{% endblock %}
    <title>
        {% block title %}{% endblock %} | 感覚の数学
    </title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-list">
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'core:index' %}">
                        <div class="navbar-nav-title">感覚の数学</div>
                    </a>
                </li>
                <li class="navbar-list-item navbar-list-item__right">
                    <a class="navbar-nav" href="">
                        <div class="navbar-nav-title">
                            サイト内検索
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
        {% block extra-header %}{% endblock %}
    </header>
    <div class="wrapper">
        <div class="container">
            {% block contents %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-item-outer">
                <div class="footer-item-inner">
                    作者
                </div>
            </div>
            <div class="footer-item-outer">
                <div class="footer-item-inner">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'account_logout' %}">ログアウト</a>
                    {% else %}
                    <a href="{% url 'account_login' %}" >管理者用ログイン</a>
                    {% endif %}
                </div>
            </div>
            <div class="footer-item-outer">
                <div class="footer-item-inner">
                    <a href="{% url 'core:create' %}">記事作成</a>
                </div>
            </div>
            <div class="footer-item-outer">
                <div class="footer-item-inner">
                    <a href="#" class="return-to-top">トップに戻る</a>
                </div>
            </div>
        </div>
    </footer>
    {% block scripts %}
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    {% endblock %}
</body>
</html>