{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{% static 'core/image/favicon.ico' %}" />
    {% block extra-styles %}{% endblock %}
    <title>
        {% block title %}{% endblock %}&nbsp;|&nbsp;感覚の数学
    </title>
</head>
<body>
    <header>
        <nav>
            <div class="navigation-home-container">
                <a class="navbar-nav navigation-home" href="{% url 'core:index' %}">
                    <p class="navbar-nav-title navigation-title-home">感覚の数学</p>
                </a>
                <div class="open-button-container">
                    <div class="open-button" id="open-button">
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="help-text" id="help-text"></span>
                    </div>
                </div>
            </div>
            <ul class="navbar-list navbar-list-hidden" id="navbar-list">
                {% for category in root_categories %}
                <li class="navbar-list-item">
                    <a class="navbar-nav category" href="{% url 'core:category-detail' category.inner_name %}">
                        <p class="navbar-nav-title">{{ category.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% block extra-header %}{% endblock %}
    </header>
    <div class="wrapper">
        {% if messages %}
        <div class="message-container">
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="container">
            {% block contents %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <ul class="footer-list">
            {% if request.user.is_authenticated %}
            <li class="footer-list-item">
                <a href="{% url 'core:user-detail' %}">
                    <p>アカウント</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="{% url 'core:article-create' %}">
                    <p>記事作成</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="{% url 'core:category-create' %}">
                    <p>カテゴリ作成</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="{% url 'account_logout' %}">
                    <p>ログアウト</p>
                </a>
            </li>
            {% endif %}
            <li class="footer-list-item">
                <a href="{% url 'core:author-list' %}" >
                    <p>作者一覧</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="#">
                    <p>トップに戻る</p>
                </a>
            </li>
        </ul>
    </footer>
    {% block scripts %}
    <script type="text/javascript" src="{% static 'core/js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/marker.js' %}"></script>
    {% endblock %}
</body>
</html>