{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css" integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% block extra-styles %}{% endblock %}
    <title>
        {% block title %}{% endblock %}&nbsp;|&nbsp;感覚の数学
    </title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar-list">
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'core:index' %}">
                        <p class="navbar-nav-title">感覚の数学</p>
                    </a>
                </li>
                {% for category in root_categories %}
                <li class="navbar-list-item">
                    <a class="navbar-nav" href="{% url 'core:category-detail' category.inner_name %}">
                        <p class="navbar-nav-title">{{ category.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% block extra-header %}{% endblock %}
    </header>
    <div class="wrapper">
        <div class="container">
            {% block contents %}
            {% endblock %}
        </div>
    </div>
    <footer>
        <ul class="footer-list">
            {% if request.user.is_authenticated %}
            <li class="footer-list-item">
                <a href="{% url 'core:user-detail' %}">
                    <p>アカウント</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="{% url 'core:article-create' %}">
                    <p>記事作成</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="{% url 'core:category-create' %}">
                    <p>カテゴリ作成</p>
                </a>
            </li>
            <li class="footer-list-item">
                <a href="{% url 'account_logout' %}">
                    <p>ログアウト</p>
                </a>
            </li>
            {% else %}
            <li class="footer-list-item">
                <a href="{% url 'account_login' %}" >
                    <p>管理者用ログイン</p>
                </a>
            </li>
            {% endif %}
            <li class="footer-list-item">
                <a href="#">
                    <p>トップに戻る</p>
                </a>
            </li>
        </ul>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>